.attribution {
    font-size: 11px;
    text-align: center;
    background-color: blanchedalmond;
    height: 50px;
    width: 230px;
    padding: 20px;
    margin: 0 0;

}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

img {
    height: 150px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    filter: invert(15%) sepia(12%) saturate(2635%) hue-rotate(225deg) brightness(75%) contrast(75%);
}

.main {
    background-color: hsl(233, 47%, 7%);
    height: 550px;
    width: 250px;
    padding: 50px 10px;
}

.text-section {
    background-color: hsl(244, 38%, 16%);
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -25px;
    padding: 25px 10px;
}

h1 {
    display: block;
    font-size: 1.6rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: 231px;
    margin: 20px auto;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 205px;
    margin: 0 auto;
    line-height: 1.5;
    opacity: 60%;
    font-size: 12px;
}

h2 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

span {
    color: hsl(277, 64%, 61%);
}

body {
    margin: 0;
}

@media (min-width:600px) {
    .desktop {
        position: relative;
    }

    img {
        position: absolute;
        top: 90px;
        left: 699px;
        width: 400px;
        height: 310px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;

    }

    .text-section {
        position: absolute;
        top: 165px;
        left: 211px;
        padding: 40px 50px;
        width: 400px;
        height: 230px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }

    .row {
        text-align: left;
        width: 100px;
    }

    h1 {
        width: 329px;
        margin: 0;
        font-size: 2rem;
        text-align: left;
    }

    h2 {
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
    }

    p {
        width: 329px;
        font-size: 14px;
        margin: 20px 0;
        text-align: left;
    }

    .row p {
        margin-top: 0;
        font-size: 9px;
    }

    .bottom {
        display: flex;
    }
    .main {
        background-color: hsl(233, 47%, 7%);
        width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
    background-color: blanchedalmond;
    height: 50px;
    width: 100%;
    padding: 20px;
    margin: 0 0 ;

}
}
